<ion-header>
    <ion-toolbar>
        <ion-back-button slot="start"></ion-back-button>
        <ion-title>Edit Shift</ion-title>
        <ion-buttons slot="end">
            <ion-button [size]="'small'" [fill]="'solid'" (click)="editShift()" type="submit"
                        [disabled]="shiftForm?.invalid || disableButton">
                <fa-icon [icon]="faEdit"></fa-icon>&nbsp;
                Edit
            </ion-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content>
    <form *ngIf="shiftForm" [formGroup]="shiftForm" id="createShiftForm">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-item class="ion-no-padding form-group">
                        <ion-label>Shift End</ion-label>
                        <ion-datetime displayFormat="DD/MM/YYYY hh:mm a" name="start_date"
                                      formControlName="start_date"
                                      [max]="today">
                        </ion-datetime>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-item class="ion-no-padding form-group">
                        <ion-label>Shift End</ion-label>
                        <ion-datetime displayFormat="DD/MM/YYYY hh:mm a" name="end_date"
                                      formControlName="end_date"
                                      [max]="today">
                        </ion-datetime>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="shift?.status === 'NEW'">
                <ion-col>
                    <div class="ion-text-center">
                        <ion-button color="dark" (click)="selectProducts()">Select Product</ion-button>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
        <hr/>
    </form>
    <form #entryForm="ngForm">
        <ion-card *ngIf="selectedProducts?.length > 0">
            <ion-card-header>Products Sold</ion-card-header>
            <ion-card-content>
                <ion-list>
                    <div *ngFor="let prod of selectedProducts; let i=index">
                        <ion-row class="ion-no-padding">
                            <ion-col class="ion-no-padding" size="10"><h2>{{prod.name}}</h2></ion-col>
                            <!--                            <ion-col class="ion-no-padding ion-text-right" size="2" *ngIf="prod.condition === 'NEW'">-->
                            <!--                                <fa-icon [icon]="faTimesCircle" (click)="removeProductFromList(prod)"></fa-icon>-->
                            <!--                            </ion-col>-->
                        </ion-row>
                        <ion-item class="ion-no-padding">
                            <ion-label>Quantity:</ion-label>
                            <ion-input type="number" [(ngModel)]="prod.quantity" name="quantity{{i}}" [min]="0"
                                       [max]="prod.stock + prod.quantity" [placeholder]="'Enter quantity'" required
                                       (ngModelChange)="disableButton = prod.quantity > prod.stock"
                                       #qty="ngModel"
                                       [disabled]="shift.status === 'APPROVED' && !isAdmin"></ion-input>
                        </ion-item>
                        <span *ngIf="qty.errors">
                        <span [hidden]="!qty.errors.required">
                            <small style="color: red">Quantity is Required</small>
                        </span>
                    </span>
                        <div *ngIf="prod.quantity > prod.stock">
                            <small style="color: red">Quantity cannot exceed stock</small>
                        </div>
                    </div>
                </ion-list>
            </ion-card-content>
        </ion-card>
    </form>
</ion-content>
