<ion-header>
    <ion-toolbar>
        <ion-back-button slot="start"></ion-back-button>
        <ion-title>{{mode}} Product/Service</ion-title>
        <ion-buttons slot="end">
            <ion-button color="dark" [size]="'small'" [fill]="'solid'" (click)="createProduct()">
                <fa-icon [icon]="mode === 'Create' ? faPlusSquare: faEdit"></fa-icon>&nbsp;
                {{mode}}
            </ion-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="productForm" id="createProductForm" *ngIf="productForm && !initialLoading">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-item class="ion-no-padding form-group">
                        <ion-label [position]="'floating'">Name</ion-label>
                        <ion-input class="form-control" formControlName="name" id="product_name"
                                   type="text" [placeholder]="'Product Name'"></ion-input>
                    </ion-item>
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.name">
                            <div class="error-message"
                                 *ngIf="productForm.get('name').hasError(validation.type) && (productForm.get('name').dirty || productForm.get('name').touched)">
                                {{ validation.message }}
                            </div>
                        </ng-container>
                    </div>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-item class="ion-no-padding form-group">
                        <ion-label [position]="'floating'">Category</ion-label>
                        <ion-input class="form-control" formControlName="category" id="product_category"
                                   type="text" [placeholder]="'Category'"></ion-input>
                    </ion-item>
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.category">
                            <div class="error-message"
                                 *ngIf="productForm.get('category').hasError(validation.type) && (productForm.get('category').dirty || productForm.get('category').touched)">
                                {{ validation.message }}
                            </div>
                        </ng-container>
                    </div>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-item class="ion-no-padding form-group">
                        <ion-label [position]="'floating'">Landing Price</ion-label>
                        <ion-input class="form-control" formControlName="landing_price" id="landing_price"
                                   type="number"></ion-input>
                    </ion-item>
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.landing_price">
                            <div class="error-message"
                                 *ngIf="productForm.get('landing_price').hasError(validation.type) && (productForm.get('landing_price').dirty || productForm.get('landing_price').touched)">
                                {{ validation.message }}
                            </div>
                        </ng-container>
                    </div>
                </ion-col>

                <ion-col>
                    <ion-item class="ion-no-padding form-group">
                        <ion-label [position]="'floating'">Price(MRP)</ion-label>
                        <ion-input class="form-control" formControlName="price" id="price"
                                   type="number"></ion-input>
                    </ion-item>
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.price">
                            <div class="error-message"
                                 *ngIf="productForm.get('price').hasError(validation.type) && (productForm.get('price').dirty || productForm.get('price').touched)">
                                {{ validation.message }}
                            </div>
                        </ng-container>
                    </div>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-item class="ion-no-padding form-group">
                        <ion-label [position]="'floating'">Shell Margin</ion-label>
                        <ion-input class="form-control" formControlName="distributor_margin" id="distributor_margin"
                                   type="number"></ion-input>
                    </ion-item>
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.distributor_margin">
                            <div class="error-message"
                                 *ngIf="productForm.get('distributor_margin').hasError(validation.type) && (productForm.get('distributor_margin').dirty || productForm.get('distributor_margin').touched)">
                                {{ validation.message }}
                            </div>
                        </ng-container>
                    </div>
                </ion-col>

                <ion-col>
                    <ion-item class="ion-no-padding form-group">
                        <ion-label [position]="'floating'">Retailer Margin</ion-label>
                        <ion-input class="form-control" formControlName="retailer_margin" id="retailer_margin"
                                   type="number"></ion-input>
                    </ion-item>
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.retailer_margin">
                            <div class="error-message"
                                 *ngIf="productForm.get('retailer_margin').hasError(validation.type) && (productForm.get('retailer_margin').dirty || productForm.get('retailer_margin').touched)">
                                {{ validation.message }}
                            </div>
                        </ng-container>
                    </div>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-item class="ion-no-padding form-group">
                        <ion-label [position]="'floating'">Stock</ion-label>
                        <ion-input class="form-control" formControlName="stock" id="stock"
                                   type="number"></ion-input>
                    </ion-item>
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.stock">
                            <div class="error-message"
                                 *ngIf="productForm.get('stock').hasError(validation.type) && (productForm.get('stock').dirty || productForm.get('stock').touched)">
                                {{ validation.message }}
                            </div>
                        </ng-container>
                    </div>
                </ion-col>

                <ion-col>
                    <ion-item class="ion-no-padding form-group">
                        <ion-label [position]="'floating'">Barcode entry</ion-label>
                        <ion-input class="form-control" formControlName="barcode_entry" id="barcode_entry"
                                   type="number"></ion-input>
                    </ion-item>
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.barcode_entry">
                            <div class="error-message"
                                 *ngIf="productForm.get('barcode_entry').hasError(validation.type) && (productForm.get('barcode_entry').dirty || productForm.get('barcode_entry').touched)">
                                {{ validation.message }}
                            </div>
                        </ng-container>
                    </div>
                    <ion-button size="small" (click)="scanBarCode()">Scan Barcode</ion-button>
                </ion-col>
            </ion-row>
            <div class="ion-text-center">
                <img *ngIf="photo?.viewImage" [src]="photo.viewImage" width="250" height="250">
            </div>

            <ion-fab vertical="bottom" horizontal="end">
                <ion-fab-button (click)="addImage()" color="dark">
                    <ion-icon name="camera"></ion-icon>
                </ion-fab-button>
            </ion-fab>
        </ion-grid>
    </form>
</ion-content>
