<ion-header>
    <ion-toolbar>
        <ion-back-button slot="start" [defaultHref]="'/dashboard'"></ion-back-button>
        <ion-title>Shifts</ion-title>
        <ion-buttons slot="end">
            <ion-button color="dark" [size]="'small'" [fill]="'solid'" [routerDirection]="'forward'"
                        [routerLink]="'/create-shift'">
                <fa-icon [icon]="faPlusSquare"></fa-icon>&nbsp;
                Create
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar>
        <ion-row>
            <ion-col size="2" style="margin: auto">
                <ion-button (click)="showAlert()" [fill]="'clear'" [size]="'small'" color="dark">Sort</ion-button>
            </ion-col>
            <ion-col size="10">
                <ion-searchbar [debounce]="500"
                               (ionChange)="fetchShifts(true)"
                               [(ngModel)]="searchText"
                               (ionCancel)="onCancelSearch($event)"
                               [searchIcon]="'Search'"
                               [placeholder]="'Search for Shift'"
                               animated></ion-searchbar>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-card *ngFor="let shift of shifts">
            <ion-item>
                <ion-label>
                    <h2>{{shift.user_name}}</h2>
                    <p style="font-size: 0.75rem">End Date:&nbsp;{{shift.end_dt|date: 'dd/MM/yyyy hh:mm a'}}</p>
                    <ion-row class="ion-no-padding">
                        <ion-col size="6" class="ion-no-padding"><h3>Shift Total:&nbsp;{{shift.price_total}}</h3>
                        </ion-col>
                        <ion-col size="6" class="ion-no-padding"><h3>Retailer
                            Margin:&nbsp;{{shift.retailer_margin_total}}</h3></ion-col>
                    </ion-row>
                    <ion-row class="ion-no-padding">
                        <ion-col size="6" class="ion-no-padding"></ion-col>
                        <ion-col size="6" class="ion-no-padding"><h3>Shell
                            Margin:&nbsp;{{shift.distributor_margin_total}}</h3></ion-col>
                    </ion-row>
                </ion-label>
            </ion-item>
            <ion-item-divider style="background-color: aliceblue">
                <ion-button *ngIf="isAdmin || ((isAuditor || shift.user === user.id) && !shift.approved)"
                            color="dark"
                            size="small" [fill]="'clear'" style="margin-left: auto;"
                            [routerDirection]="'forward'"
                            [routerLink]="['/create-shift', shift.id]">Edit
                </ion-button>
                <ion-button color="dark" size="small" [fill]="'clear'" [routerDirection]="'forward'"
                            [routerLink]="['/view-shift', shift.id]">View
                </ion-button>
            </ion-item-divider>
        </ion-card>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfiniteScroll($event)" [disabled]="!next">
        <ion-infinite-scroll-content
                [loadingSpinner]="'bubbles'"
                [loadingText]="'Loading more shifts...'">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
