<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button [size]="'small'" (click)="dismiss(false)">
                <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Select Product</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item *ngFor="let product of products">
            <ion-label><h2>{{product.name}} | {{product.category}}</h2></ion-label>
            <ion-checkbox slot="end" [(ngModel)]="product.checked"></ion-checkbox>
        </ion-item>
    </ion-list>
    <!--    <ion-infinite-scroll (ionInfinite)="doInfiniteScroll($event)">-->
    <!--        <ion-infinite-scroll-content-->
    <!--                [loadingSpinner]="'bubbles'"-->
    <!--                [loadingText]="'Loading more products...'">-->
    <!--        </ion-infinite-scroll-content>-->
    <!--    </ion-infinite-scroll>-->
    <div class="ion-text-center" *ngIf="next">
        <ion-button size="small" (click)="doInfiniteScroll($event)" color="dark">Load More</ion-button>
    </div>
</ion-content>
<ion-footer>
    <div class="ion-text-right">
        <ion-button size="small" [fill]="'clear'" (click)="dismiss(true)">Select Products</ion-button>
    </div>
</ion-footer>
