<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button [size]="'small'" (click)="dismiss(false)">
                <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Select Product</ion-title>
    </ion-toolbar>
    <ion-toolbar>
        <ion-searchbar [debounce]="500"
                       (ionChange)="fetchProducts(true)"
                       [(ngModel)]="searchText"
                       (ionCancel)="onCancelSearch($event)"
                       [searchIcon]="'Search'"
                       [placeholder]="'Search for Products/Service'"
                       animated></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let product of products">
            <ion-label (click)="addProduct(product)"><h2>{{product.name}} | {{product.category}}</h2></ion-label>
        </ion-item>
    </ion-list>
    <form *ngIf="productListForm" [formGroup]="productListForm">
        <ion-card *ngIf="getProductControls().length > 0">
            <ion-card-content>
                <ion-row *ngFor="let productCtrl of getProductControls();let i=index" formArrayName="entries">
                    <ng-container [formGroupName]="i.toString()">
                        <ion-col class="ion-padding">
                            <ion-label>{{productCtrl.get('product').value.name}}</ion-label>
                            <ion-item class="form-group">
                                <ion-label [position]="'floating'">Quantity</ion-label>
                                <ion-input class="form-control" type="number" formControlName="quantity"
                                           id="entries{{i}}"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size="1" style="margin-top: auto; margin-bottom: auto">
                            <fa-icon (click)="removeProductEntry(i)" [icon]="faTimesCircle"></fa-icon>
                        </ion-col>
                    </ng-container>
                </ion-row>
            </ion-card-content>
        </ion-card>
    </form>
    <div class="ion-text-center" *ngIf="next">
        <ion-button size="small" (click)="doInfiniteScroll($event)" color="dark">Load More</ion-button>
    </div>
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
        <ion-fab-button (click)="barCodeScan()" color="dark">
            <ion-icon name="barcode"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
<ion-footer>
    <div class="ion-text-right">
        <ion-button size="small" [fill]="'clear'" (click)="addProductToShiftList()">Add Products</ion-button>
    </div>
</ion-footer>
