<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button [size]="'small'" (click)="dismiss(false)">
                <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Change Password</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <form [formGroup]="passwordForm" id="passwordForm" *ngIf="passwordForm">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-item class="ion-no-padding form-group">
                        <ion-label [position]="'floating'">Password</ion-label>
                        <ion-input class="form-control" formControlName="password" id="password"
                                   type="text" [placeholder]="'Password'"></ion-input>
                    </ion-item>
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.password">
                            <div class="error-message"
                                 *ngIf="passwordForm.get('password').hasError(validation.type) && (passwordForm.get('password').dirty || passwordForm.get('password').touched)">
                                {{ validation.message }}
                            </div>
                        </ng-container>
                    </div>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-item class="ion-no-padding form-group">
                        <ion-label [position]="'floating'">Confirm Password</ion-label>
                        <ion-input class="form-control" formControlName="confirm_password" id="confirm"
                                   type="text" [placeholder]="'Confirm Password'"></ion-input>
                    </ion-item>
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.confirm_password">
                            <div class="error-message"
                                 *ngIf="passwordForm.get('confirm_password').hasError(validation.type) && (passwordForm.get('confirm_password').dirty || passwordForm.get('confirm_password').touched)">
                                {{ validation.message }}
                            </div>
                        </ng-container>
                    </div>
                </ion-col>
            </ion-row>
            <ion-label *ngIf="matchPasswordError" class="ion-text-center" color="danger">
                <small>New Password and Confirm Password do not match</small>
            </ion-label>
            <div class="ion-text-center">
                <ion-button color="success" (click)="updatePassword()" [disabled]="passwordForm.invalid">Change
                    Password
                </ion-button>
            </div>
        </ion-grid>
    </form>
</ion-content>
