<ion-header>
    <ion-toolbar>
        <ion-back-button slot="start"></ion-back-button>
        <ion-title>Create Shift</ion-title>
        <ion-buttons slot="end">
            <ion-button [size]="'small'" [fill]="'solid'" (click)="createShift()" type="submit"
                        [disabled]="shiftForm?.invalid || disableButton">
                <fa-icon [icon]="faPlusSquare"></fa-icon>&nbsp;
                Create
            </ion-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-item class="ion-no-padding">
                    <ion-label>Shift Date</ion-label>
                    <ion-datetime displayFormat="DD/MM/YYYY" name="shiftDate"
                                  [max]="today"
                                  [(ngModel)]="shiftDate"
                                  (ionChange)="shiftChange(selectedShiftTiming)">
                    </ion-datetime>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item class="ion-no-padding">
                    <ion-label position="floating">Select Shift</ion-label>
                    <ion-select name="selectedShiftTiming" (ionChange)="shiftChange(selectedShiftTiming)"
                                [(ngModel)]="selectedShiftTiming">
                        <ion-select-option *ngFor="let shift of SHIFT_TIMINGS" [value]="shift">
                            {{shift.display}} ({{shift.display2}})
                        </ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
        <!--        <ion-row>-->
        <!--            <ion-col>-->
        <!--                <div class="ion-text-center">-->
        <!--                    <ion-button color="dark" (click)="selectProducts()">Select Product</ion-button>-->
        <!--                </div>-->
        <!--            </ion-col>-->
        <!--        </ion-row>-->
    </ion-grid>
    <hr/>
    <form #shiftForm="ngForm" class="border-top pt-2"
          id="createShiftForm">
        <ion-card *ngIf="selectedProducts?.length > 0">
            <ion-card-header>Products Sold</ion-card-header>
            <ion-card-content>
                <ion-list>
                    <div *ngFor="let prod of selectedProducts; let i=index">
                        <ion-row class="ion-no-padding">
                            <ion-col class="ion-no-padding" size="10"><h2>{{prod.name}}</h2></ion-col>
                            <ion-col class="ion-no-padding ion-text-right" size="2" *ngIf="prod.condition === 'NEW'">
                                <fa-icon [icon]="faTimesCircle" (click)="removeProductFromList(prod)"></fa-icon>
                            </ion-col>
                        </ion-row>
                        <ion-item class="ion-no-padding">
                            <ion-label>Quantity:</ion-label>
                            <ion-input type="number" [(ngModel)]="prod.quantity" name="quantity{{i}}" [min]="0"
                                       [max]="prod.stock + prod.quantity" [placeholder]="'Enter quantity'" required
                                       #qty="ngModel"></ion-input>
                        </ion-item>
                        <span *ngIf="qty.errors">
                        <span [hidden]="!qty.errors.required">
                            <small style="color: red">Quantity is Required</small>
                        </span>
                    </span>
                        <div *ngIf="prod.quantity > prod.stock">
                            <small style="color: red">Quantity cannot exceed stock</small>
                        </div>
                    </div>
                </ion-list>
            </ion-card-content>
        </ion-card>
    </form>
</ion-content>
