<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-row>
            <ion-col size="2">
                <ion-avatar style="max-width: 50px; margin-top: 10px">
                    <ion-img [src]="'/assets/logos/logoSquareKannada.jpeg'" [alt]="'Mahamane Services'"
                             style="width: 45px; height: 45px"></ion-img>
                </ion-avatar>
            </ion-col>
            <ion-col size="10" style="margin-bottom: auto; margin-top: auto">
                <ion-title class="ion-no-padding">Mahamane Services
                </ion-title>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header style="font-size: 16px; font-weight: 600">Products Expiring over next 10 days:
        </ion-list-header>
        <ion-item *ngFor="let expiryDate of productExpiryDates">
            <ion-label>
                <h2>{{expiryDate.product_name}}</h2>
                <p>{{expiryDate.datetime|date: 'dd/MM/yyyy'}}</p>
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfiniteScroll($event)" *ngIf="next">
        <ion-infinite-scroll-content
                [loadingSpinner]="'bubbles'"
                [loadingText]="'Loading more products...'">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
<ion-footer>
    <div class="ion-text-right">
        <ion-button type="button" color="dark" (click)="downloadExpiryReport()"
                    *ngIf="!isReportDownloading; else showSpin">Download
            Report
        </ion-button>
        <ng-template #showSpin>
            <ion-spinner *ngIf="isReportDownloading"></ion-spinner>
        </ng-template>
    </div>
</ion-footer>
